@{
    Layout = "_Layout";
    ViewData["Title"] = "Count";
}
<form asp-action="Razor" method="post">
    <input type="submit" value="Play Again" />
</form>
    @{
        for (int i = @Model.bottle; i > 0; i--)
        {
            <a>@i green bottlees standing on the wall,</a><br />
            <a>@i green bottlees standing on the wall,</a><br />
            <a>And if one green bottle should accidentally fall,</a><br />
            if (i-1 > 0) 
            {
                <a>There'll be @(i-1) green bottles standing on the wall.</a><br />
            } else
            {
                <a>There'll be no green bottle standing on the wall.</a><br />
            }
            <br />
        }
        <a>There is no green bottle standing on the wall.</a>
        <br /><br />
    }

