@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<h3>CRITICAL ERROR! DESTROY YOUR DEVICE AND LEAVE PREMISSES IMMEDIATELY!<br />
    THIS IS A NOT A DRILL!
    <br />
    REPEAT! THIS IS NOT A DRILL!</h3>

